<div class="modal" tabindex="-1" role="dialog" >
    <div class="modal-dialog" style="width: 450px;">
        <div class="modal-content" >
            <div class="modal-header" >
                <button type="button" class="close" ng-click="$hide()" >&times;</button >
                <h4 class="modal-title" >注销确认</h4 >
            </div >
            <div class="modal-body" >
                <p >是否确定注销?</p >
            </div >
            <div class="modal-footer" >
                <button type="button" class="btn btn-default btn-primary" ng-click="confirm();" >确定</button >
                <button type="button" class="btn btn-default" ng-click="$hide()" >关闭</button >
            </div >
        </div >
    </div >
</div >