<div class="form-label col-1-half" ng-if="options.showLabel" >
    <label >{{options.labelText}}:</label >
</div >
<div ng-class="{'col-10-half':options.showLabel,'col-12':!options.showLabel}" >
    <div class="row" ng-show="options.maxFile > (attachments.length || 0) " ng-if="!options.readonly" >
        <input type="file" class="col-4" >
    </div >
    <div class="row" ng-if="options.showTable" >
        <table class="tableGrid" >
            <tr >
                <th style="width: 40px;" >序号</th >
                <th >附件名称</th >
                <th style="width: 150px;" >附件大小</th >
                <th style="width: 150px;" >上传者</th >
                <th style="width:150px;" >上传时间</th >
                <th style="width: 80px" >操作</th >
            </tr >
            <tr ng-cloak ng-show="!attachments || !attachments.length" >
                <td colspan="6" style="text-align: center;" >无附件!</td >
            </tr >
            <tr bindonce ng-repeat="at in attachments" >
                <td bo-text="$index+1" ></td >
                <td bo-text="at.fileName" ></td >
                <td bo-text="at.size | fileSize" ></td >
                <td bo-text="at.creatorName" ></td >
                <td bo-text="at.uploadTime | eccrmDatetime" ></td >
                <td >
                    <a title="删除附件" ng-if="options.canDelete" ng-click="deleteAttachment($index,at.id)" style="cursor: pointer;" ><i class="icons fork" ></i ></a >
                    <a title="下载" ng-if="options.canDownload" ng-click="download(at.id)" style="cursor: pointer;margin-left: 8px;" ><i class="icons download" ></i ></a >
                </td >
            </tr >
        </table >
        <div style="text-align: right;border: 1px solid #b4d1e7;border-top:0;height: 26px;padding: 0 10px;line-height: 26px;" >
            <span >可上传数量:</span ><span style="margin-left: 8px;" >{{attachments.length || 0}}/{{options.maxFile || 1}}</span >
        </div >
    </div >
</div >